@model IEnumerable<WebApplication5.Models.Order>


<div class="d-flex flex-column m-4">


    @if (Model.Any())
    {
        <h2 class="text-white-50 m-auto">Your orders</h2>

        @foreach (var order in Model)
        {
            <div style="display:flex; width:80rem; flex-direction:row; margin:auto; margin-top:50px; margin-bottom:50px;" class="card">

                <div>
                    <img class="card-img-top" src="@order.Bicycle.IamgeUrl" style="width:30rem; margin-top:6rem;">
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@order.Bicycle.Name</h5>
                        <p class="card-text">@order.Bicycle.Discripton</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: @order.Bicycle.Price $</li>
                        <li class="list-group-item">Data:  @order.Data    </li>
                        <li class="list-group-item">Client name:  @order.User.UserName </li>
                    </ul>

                </div>
            </div>

        }
    }
    else
    {
        <h2 class="text-white-50 m-auto">You dont have orders yet</h2>

    }
</div>