@model IEnumerable<WebApplication5.Models.Bicycle>


@foreach (var item in Model)
{
        
    <div class="card" style="width:18rem; margin: 20px; box-shadow: 10px 5px 5px black; ">
        <img class="card-img-top" src="@item.IamgeUrl" style="height:200px;">
        <div class="card-body">
            <a href="~/Home/Deteils/@item.BicycleID"><h5 class="card-title"> @item.Name</h5></a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Price: @item.Price $</li>
            <li class="list-group-item">Manufacture: @item.Mnufacture</li>
        </ul>
        <div class="card-body" style="display:flex; flex-direction:row; justify-content:space-between;">
            <a href="~/Home/Buy/@item.BicycleID" style="margin-top:10px;" class="btn btn-primary">buy</a>
            <form method="post" action="~/Cart/Add" style="margin-top:10px;">
                @Html.Hidden("returnUrl", Context.Request.Path)
                @Html.Hidden("id", item.BicycleID)
                <input type="submit" class="btn btn-primary" value="add to cart" />
            </form>
        </div>
    </div>

}

@if (Model.Count() == 0)
{
    <h1 class="text-white-50 m-auto" style="font-size:8rem" >Sorry, nothing found</h1>
    <img src="http://cdn.shopify.com/s/files/1/1061/1924/products/Alien_Emoji_Icon_2_grande.png?v=1571606090" style="width:30rem"  />

}